.search__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
  margin-left: 1rem;
}

.search__header--input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  margin-right: 1rem;
  border-radius: 25px;
  background-color: rgb(248, 248, 248);
  color: rgb(151, 151, 151);
}
.search__header--input input {
  width: 80%;
  padding: 0.5rem;
  background-color: rgb(248, 248, 248);
}
.search__header--input input {
  outline: none;
}
.search__header--input svg {
  font-size: x-large;
  margin-left: 0.5rem;
  margin-right: 0.8rem;
}
.search__main svg {
  font-size: xx-large;
}

.location {
  position: absolute;
  top: 10vh;
  right: 0;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}
.location p {
  margin-left: 1rem;
}
