.feature__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem 1rem;
}
@media (max-width: 380px) {
  .feature__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5rem 1rem;
  }
}
